.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #252526;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.black-pane {
    -fx-background-color: #252526;
}

.black-textarea {
    -fx-control-inner-background: #2d2d30;
    -fx-text-fill: white;
    -fx-background-color: #2d2d30;
    -fx-font-size: 14px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #2d2d30;
}

.black-listview {
    -fx-control-inner-background: #2d2d30;
    -fx-text-fill: white;
    -fx-background-color: #2d2d30;
    -fx-font-size: 14px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #2d2d30;
}

.btn-primary {
    -fx-background-color: #0065a9;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #0098ff;
}

#hBox {
    -fx-background-color: #0065a9;
}

#hBox .button {
    -fx-background-color: transparent; 
    -fx-text-fill: white; 
    -fx-font-size: 16px;
}

#vBox .button {
    -fx-background-color: #252526;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0; 
}

#vBox .button:hover {
    -fx-background-color: #2d2d30;
}
